<h2>Account settings</h2>

<div class="section-settings">
  <h3><i class="fas fa-unlock"></i> Password change</h3>
  Account settings to do
</div>

<div class="section-settings">
  <h3><i class="fab fa-spotify"></i> Spotify connection</h3>
  <% if current_user.access_token.present? %>
    <p>You are already connected. Logged in as <%= current_user.nickname %></p>
  <% else %>
    <p>You'll need to connect with Spotify to enjoy this service.</p>
    <%= link_to 'Connect with Spotify', "/auth/spotify" , class: "btn btn-spotify" %>
  <% end %>
</div>

FOR TEST PURPOSE
<br>
<%= link_to 'Connect with Spotify', "/auth/spotify" , class: "btn btn-spotify" %>
<br>
request.env :<%= request.env['omniauth.auth'] %>
<br>
<p>stored user info:</p>
<%= current_user.inspect %>
