<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fetchify : go fetch your favourite songs</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <!-- RAILS HTML ERB IF DEVISE-->
    <% if request.env['PATH_INFO'].include?("users") %>
    <div class="container">
      <div class="row">
        <div class="col-6 offset-3">
          <div id="top-bar">
            <div id="logo">
              <i class="fas fa-paw mr-1"></i><h1>Fetchify</h1>
            </div>
          </div>
          <%= yield %>
        </div>
      </div>
    </div>

    <!-- REACT APP OTHERWISE-->
    <% else %>

      <div id="root" class="d-flex">
      </div>

      <% if user_signed_in? %>
        <div data-uid=<%= current_user.id %>></div>
        <div data-user-name="<%= current_user.name %>"></div>
        <div data-user-has-token=<%= current_user.access_token.present? %>></div>
      <% end %>

    <% end %>

    <%= render 'shared/flashes' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
